# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# dbt
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PostgreSQL
pgdata/

# Logs
logs/
*.log

# Source data
raw_sources/*
!raw_sources/.gitkeep
!raw_sources/README.md